@import '../../../less/common';

@river-ecology: river-ecology;
.@{river-ecology} {
  position: absolute;
  width: 100%;
  height: 100%;
  color: @template-text-color-light;
  z-index: 1;
  .row-p {
    font-family: @font-family;
    margin-top: 30px;
  }
  h1 {
    font-family: @font-family;
    color: @template-text-color-light;
  }
  .ecology {
    width: inherit;
    height: inherit;
    .ecology-pic {
      width: 100%;
      .ecology-content {
        display: flex;
        margin-top: 10px;
        padding-left: 31px;
        align-content: center;
        height: 116px;
        cursor: pointer;
        background: #0D1C49;
        opacity: 0.84;
        border-radius: 6px;
        .pic {
          margin-top: 34px;
          width: 61px;
          height: 61px;
          object-fit: cover;
          //animation-name: updown;
          //animation-duration: 2s;
          //animation-iteration-count: infinite;
          //animation-fill-mode: both;
          //animation-timing-function: ease;
        }
        .ecology-text {
          padding-left: 42px;
          align-self: center;
          font-size: 18px;
          max-width: 831px;
        }
        &:hover {
          animation-play-state: paused;
          object-fit: cover;
          transform: scale(1.1);
          transition: all 0.45s ease;
        }
      }

    }
  }

  .at {
    width: inherit;
    height: inherit;
    padding-top: 30px;
    .row-text {
      margin-top: 50px;
    }
    .at-pic-content {
      .pic {
        max-width: 536px;
      }
      .pic-left {
        padding-left: 22%;
      }
    }
  }
}
